@{
    ViewBag.Title = "Contact";
}
<div class="text-center">
    <h2>Контактная страница</h2>
    <h3>Мустафина Назгуль Ибрагимовна Пи-21-1</h3>
    <h3>(✿◡‿◡)</h3>
</div>
<address class="text-center">
    Высшая школа экономики Пермский филиал<br />
    614070, Пермь, ул. Студенческая, 38<br />
    <abbr title="Телефон">P:</abbr>
    +7 (960) 804 - 81 - 17
</address>

<address class="text-center">
    <strong>Связь:</strong>
    <a href="https://mail.ru/?utm_source=portal&utm_medium=new_portal_navigation&utm_campaign=mail.ru&mt_click_id=mt-ds8xq6-1684970693-949400683&mt_sub1=id.mail.ru">nazgul-2003@mail.ru</a><br />
</address>

<body>
    <div class="text-center">
        <h2>До скорых встреч!</h2>
        <img src="https://foni.club/uploads/posts/2023-02/1675977066_foni-club-p-fon-belii-s-kotikom-i-serdechkom-24.jpg" vspace="150px" hspace="50px" align="middle" width="608" height="590">
    </div>
</body>